attrs==23.2.1.dev0
autocommand==2.2.2
Brlapi==0.8.5
btrfsutil==6.8.1
build==1.2.1
CacheControl==0.14.0
cachy==0.3.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cleo==2.1.0
crashtest==0.4.1
cryptography==42.0.6
distlib==0.3.8
dulwich==0.22.1
fastjsonschema==2.19.1
filelock==3.13.3
greenlet==3.0.3
html5lib==1.1
idna==3.6
inflect==7.2.1
installer==0.7.0
jaraco.classes==3.4.0
jaraco.context==4.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.0
jeepney==0.8.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
keyring==25.2.0
lark==1.1.9
libfdt==1.7.0
libvirt-python==10.3.0
lockfile==0.12.2
louis==3.29.0
more-itertools==10.2.0
msgpack==1.0.5
nftables==0.1
ordered-set==4.1.0
packaging==23.2
pexpect==4.9.0
pkginfo==1.10.0
platformdirs==4.2.0
poetry==1.8.2
poetry-core==1.9.0
poetry-plugin-export==1.8.0
ptyprocess==0.7.0
pycairo==1.26.0
pycparser==2.22
PyGObject==3.48.2
pynvim==0.5.0
pyproject_hooks==1.1.0
pyrsistent==0.19.3
rapidfuzz==3.6.2
referencing==0.33.0
Reflector==2023.6.28.0.36.1
requests==2.31.0
requests-toolbelt==1.0.0
rpds-py==0.17.1
SecretStorage==3.3.3
setuptools==69.0.3
shellingham==1.5.4
six==1.16.0
tomli==2.0.1
tomlkit==0.12.5
trove-classifiers==2024.4.10
typeguard==4.2.1
typing_extensions==4.11.0
ufw==0.36.2
urllib3==1.26.18
validate-pyproject==0.16
virtualenv==20.25.0
webencodings==0.5.1
wheel==0.43.0
yt-dlp==2024.4.9
